#inputForm{
    /* height: 15%; */
/* width: fit-content; */
/* height: fit-content; */
margin: 14px;
/* padding: 0 5px 0 0; */
display: flex;
align-items: center;
width: 100%;
}

#inputForm button{
height: fit-content;
}

/* .formItem{

} */

#inputForm input{
    font-size: 3em;
    margin: 4px;
    border: solid black 2px;
    flex-grow: 1;
    max-width: 500px;
}

#ichiban{
    font-size: 1.5em;

}

#searchResults{
        margin-left: 14px;
        background-color: #ffffff;
        padding: 8px;
        width: fit-content;
}

#searchResults p{
    height: fit-content;
    background-color: rgb(176 169 169 / 46%);
    padding: 7px;
    width: fit-content;
    margin: 0px;
    border-radius: 8px;
}

.searchTerm{
    font-size: 1.8em;
}



#cijIcon{
    max-height: 100px;
}

#header{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin: 20px 0px;
}

button{
    border-radius: 3px;
    background: #db7aa2;
    color: #ffffff;
    padding: 0.4em 1em;
    border: 0;
    /* line-height: 3em; */
    display: inline-block;
    font-family: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 0px -7px rgba(0,0,0,0);
    font-size: 1.6em;
}

.site-title{
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 1;
    font-family: 'Josefin Sans', var(--global-fallback-font);
    color: var(--global-palette4);
    display: flex;
}

.site-title-wrap{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}

.site-title-wrap p{
    height: fit-content;
    padding: 2px;
    margin: 2px;
}

.site-description{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 2px;
    font-family: Lato, var(--global-fallback-font);
    text-transform: uppercase;
    color: rgb(100 100 100 / 46%);
}

html, body {margin:0;padding:0;height:100%;}

body{
    background-color: #eee0e0;
}

/* a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
} */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}